# Venvs
venv/
.venv/
*/.venv/
*/venv/

# VS Code
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Arquivos de ambiente
.env

# Dados e backups grandes
backups/
dados/
mongo-data/
*.csv

# Arquivos de logs
logs/
*.log
